@import "tailwindcss";
.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  background-color: #fff !important;
  opacity: 0.6 !important;
}

.swiper-pagination-bullet-active {
  background-color: #ff4c4c !important;
  opacity: 1 !important;
  transform: scale(1.3) !important;
}
